@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: "regular";
  src: url("../../fonts/ProximaNovaSoft-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
*{
  box-sizing:border-box;
}
.container {
  background-color: #e4e4e4;
  font-family: "regular";
}
.contain {
  background-color: #f8f8f8;
}
.about {
  text-align: center;
  color: #232323;
  padding: 3%;
}
.image {
  border-radius: 5px;
}
.img {
  padding-left: 5%;
  color: #333333;
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}
.paragraph {
  padding-left: 15%;
}
h3.intro {
  color: #c7c7c7;
}
/* For Tablets */
@media all and (max-width: 1000px) {
  h3.intro {
    color: #c7c7c7;
  }
  img.image {
    position: relative;
    width: 100%;
    opacity:0.5;
  }
  .paragraph {
    position: absolute;
    color:black;
}
p.paragraph.para {
  position: initial;
}
p.text {
  color: black;
}
p.work {
  color: black;
}
}

/* For Smartphones */

@media all and (max-width: 670px) {
  h2 {
    font-size: 23px;
}
h3 {
  font-size: 18px;
}
h3.intro {
  color: gray;
}
img.image {
  position: relative;
  height: 50%;
  width: 100%;
}
p.text{
  display:none;
}
.paragraph {
  position: absolute;
  left:1px
}
p.work {
  color: black;
}
   }