@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@font-face {
  font-family: "regular";
  src: url("../../fonts/ProximaNovaSoft-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
*{
  box-sizing:border-box;
}
.container {
  background-color: #e4e4e4;
  font-family: "regular";
}
.contain {
  background-color: #f8f8f8;
}
.about {
  text-align: center;
  color: #232323;
  padding: 3%;
}
.image {
  border-radius: 5px;
}
.img {
  padding-left: 5%;
  color: #333333;
  display: flex;
  flex-direction: row;
  padding-bottom: 5%;
}
.paragraph {
  padding-left: 15%;
}
