*{
  box-sizing:border-box;
}
@font-face {
  font-family: "regular";
  src: url("../../fonts/ProximaNovaSoft-Regular.otf");
  font-style: normal;
  font-weight: 400;
}
.home-img {
  position: relative;
  filter: brightness(70%);
  height: 100vh;
  width: 100%;
}

.Home .text {
  text-align: center;
}

h1.text {
  position: absolute;
  bottom: 35%;
  right: 6%;
  text-transform: uppercase;
  color:#ffffff;
  font-size: 63px;
  animation: type 3s steps(60);
  overflow: hidden;
  white-space: nowrap;
}
h1.text2 {
  position: absolute;
  bottom: 20%;
  right: 0%;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 60px;
  animation: type 3s steps(60);
  overflow: hidden;
  white-space: nowrap;
}

@keyframes type {
  0% {
    width: 0ch;
    color: black;
  }
  50% {
    color: lightgray;
  }

  100% {
    width: 22ch;
  }
}

/* For Tablets */
@media all and (max-width: 1000px) {
  .home-img {
    height: 50vh;
  }
  h1.text {
    top: 23%;
    right: 23%;
    font-size: 37px;
    color: white;
  }
  h1.text2{
    top: 29%;
    font-size: 37px;
    color: white;
    right:113px;
  }
}

/* For Smartphones */
@media all and (max-width: 670px) {
  .home-img {
    height: 308px;
  }
  h1.text {
    top: 23%;
    right: -14%;
    font-size: 20px;
    color: white;
  }
  h1.text2{
    top: 29%;
    font-size: 20px;
    color: white;
    left: 11px;
  }
 
}