.Navbar{
    display: flex;
    justify-content:space-between;
}
h1.logo {
    font-family: Tohoma;
    font-weight: bold;
    font-size: 65;
    color: #232323;
}
.nav{
    display: flex;
    margin-right: 30px;
    
}

ul {
    list-style: none;
  }
  
.nav li{
    padding: 25px;
    
}
.nav li a {
    color:black;
    text-decoration: none;
    font-family: opensans;
    padding: 25px;
    font-weight: semibold;
    font-size: 30;

}

li:hover{
    transform:scale(1.2);
}


